<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#11283d">
    <title>{% block title %}Dekorartstroy CRM{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/app.css') }}">
</head>
<body>
    {% block body %}{% endblock %}
    <script src="{{ url_for('static', path='/app.js') }}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
